
            <ul class="tz-ecommerce-meta pull-right">
              <li class="tz-header-login">
                <a>Profil</a>
                <div class="tz-login-form">    
            <p class="form-footer text-center">
             <%= link_to "Mon Profil", user_path(current_user.id), class: "btn btn-default" %>
             <br>
             <br>
</p>
<p class="form-footer text-center">
             <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete  %>
             </p>
                          <br>
            
        </li>