<h4>Hey<%= @resource.firstname %>!</h4>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour te notifié que ton adresse mail a changé pour : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour te notifié que ton adresse mail a changé pour :  <%= @resource.email %>.</p>
<% end %>
