<p>Salut <%= @resource.firstname %>!</p>
<p>Il parait que tu as oublié ton mot de passe... On peut surement t'aider !</p>
<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si tu as reçu ce mail et que tu n'as pas demandé à changer de mot de passe, c'est que tu te fais pirater.</p>
<p>En gros :</p>
<ul>
    <li> Tu vas te faire voler tes coordonnées de carte bleue <li> 
    <li> Ton copain/copine va te quitter </li>
    <li> Tu vas vivre seul et triste </li>
</ul>
<p>Bisous.</p>
