<p>Salut <%= @resource.firstname %>!</p>

<p>Ton compte a été bloquer car il y a eu plusieurs tentative de connexions avec un mauvais mot de passe</p>

<p>Si tu veux eviter la depression, la perte de ton emploi ainsi qu'une majoration d'impôt</p>
<p> clique sur le liens ci-dessous</p>
<p><%= link_to 'Debloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
